
Xeng_build/r2_b16a4x64f/XPS_ROACH2_base/implementation/smartxplorer/\.smartxplorer/\.sx\.debug

*.debug

Xeng_build/r2_b16a4x64f/XPS_ROACH2_base/implementation/smartxplorer/\.smartxplorer/

feng_cd_debug/Prog_bs_test_R2012b_sysgen_error\.log

*.log

*.autosave
